<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sauce demo">
    <listeners>
        <listener class-name="Page.Listener"/>
    </listeners>
    <test name="Verify user is able to login in">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="test.Testtoverifyloginpage"/>
        </classes>
    </test>
    <test name="Verify user is to checkout">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="test.testToverifycheckout"/>
        </classes>
    </test>
</suite>
